__pycache__/

software/*.txt
software/plot/*

hardware/simv.daidir/*
hardware/csrc/*
hardware/syn/*
hardware/tb*/*
hardware/*.tcl
hardware/*.vcd
hardware/*.sh
hardware/*.log
hardware/*.txt
hardware/work/*
hardware/tmp/*
hardware/ucli.key 
hardware/simv 
hardware/program.out

save/*
*.pth.tar
*.log

sim/hw/mem/self_gen/*
sim/hw/mem/example_cacti_pool.yaml
sim/model_profile/meters/sparten_saved_dict/*