__pycache__/

software/*.txt
software/plot/*

hardware/simv.daidir/*
hardware/csrc/*
hardware/*.log
hardware/*.txt
hardware/work/*
hardware/tmp/*
hardware/run.tcl
save/*
*.pth.tar
*.log

sim/hw/mem/self_gen/*
sim/hw/mem/example_cacti_pool.yaml
sim/model_profile/meters/sparten_saved_dict/*